/*===============================
Sommario:
1. RESET
2. LAYOUT
    A: HEADER
    B: MAIN
      - !!CONTAINER BLUE - 3 COLONNE!!
    C: FOOTER
3. CLASSI DI UTILITA'
    A: Colori Background
===============================*/

/*----------------- 1. RESET -----------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

/*--------------- 2. TIPOGRAFIA ---------------*/

:root {
  font-family: 'Montserrat', sans-serif;
}

.white-text {
  color: white;
}

.hero h2 {
  font-size: 30px;
  font-weight: 400;
}


/*----------------- 2. LAYOUT -----------------*/

.container {
  width: 80%;
  margin: auto;
}

/* >> A. HEADER >> */
header {
  padding: 25px 0;
}

/* >> B. MAIN >> */

.hero {
  height: 500px;
  margin-bottom: 25px;
}

/* !!CONTAINER BLUE - 3 COLONNE!! */

.container.blue {
  /* l'height è determinata dal contenuto:
vedi "B. Container con 3 colonne"*/
  padding-bottom: 15px;
}

.three_columns_header {
  height: 100px;
  margin-bottom: 15px;
}

.column {
  height: 550px;
  float: left;
  width: 30%;
}

.column.center {
  width: calc(40% - 30px);
  /*Viene sottratto lo spessore dei margini per non eccedere
  il 100% della larghezza del container con la somma delle
  tre colonne*/
  margin: 0 15px;
}

/* >> C. FOOTER >> */

footer {
  padding: 10px 0 20px;
}

.container.purple {
  height: 80px;
}

/*---------- STILIZZAZIONE COMPONENTI ----------*/

/*HEADER*/

.logo {
  height: 70px;
  padding-right: 30px;
  margin-bottom: 20px;
  border-right: 1px solid lightgrey;
}

ul {
  word-spacing: -5px;
}

.li_header {
  list-style: none;
  display: inline-block;
}

.link_header {
  display: inline-block;
  text-decoration: none;
  color: gray;
  padding: 10px 15px;
}

.li_header:first-of-type .link_header{
  padding-left: 0;
}

/*MAIN*/

/* A: Hero*/
.hero {
  background-image: url("../img/banner.jpg");
}

.hero section {
  width: 50%;
  position: absolute;
  left: 50px;
  bottom: 80px;
}




/*------------ 3. CLASSI DI UTILITA' ------------*/

/* >> A. Colori background >> */

.blue {
  background: cornflowerblue;
}

.lightblue {
  background: lightblue;
}

.purple {
  background: purple;
}

.image-overlay-radius {
  position: relative;
  background-size: cover;
  background-position: center;
  border-radius: 15px;
  overflow: hidden;
}

.image-overlay-radius::before {
  content: "";
  background: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}